body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
    background-image: url(../img/bg.jpg); /* Путь к фоновому рисунку */
    background-repeat: repeat; /* Повторяем фон по горизонтали */
}
#header nav{
    background: #383838;
    margin: 0 25% 0 25%;
}
#header ul{
    margin: 0;
    padding: 0;
}
#header{
    position: relative;
    display: block;
}
#footer { /* Нижний блок */
    background: #333; /* Цвет фона */
	padding: 5px; /* Поля вокруг текста */
    /*padding-bottom: 2px;*/
	color: #fff; /* Цвет текста */
	border: 6px ridge gray;

	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}